
  .navbar{
    display: flex;
    text-align :center;
    padding: 10px 210px;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: #333;
  }
  
   .ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 22px 54px;
    text-decoration: none;
    font-size: 23px;
    padding: 10px 90px;
    
  }
  .search_city{
    float: right;
    padding: 19px;
    border: none;
    margin-top: 10px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  li a:hover {
    background-color: #111;
  }

  @media screen and (max-width: 500px){
     .navbar,li a
     {
       display: flex;
       font-size: 15px;
       margin :auto;
       padding: 10px 100px;
      
     }
     .search_city{
      float: right;
      padding: 10px;
      border: none;
      margin-top: 6px;
      margin-right: auto;
      font-size: 17px;
     }
     li a:hover {
      background-color:red;
    }
  
    }